{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{ product.getName() }}</h2>
    <img src="{{ product.getImage() }}"></img>
    <p>Prix : {{ product.getPrice() }}€</p>
    <p>Date de création : {{ product.getCreatedAt() | date('d/m/Y') }}</p>
    <p>Description : {{ product.getDescription() }}</p>
    <a href="{{ path('product.index') }}">Accueil</a>
    <button id="sendRequest" class="btn btn-primary" onclick="sendRequest()">Ajouter au panier</a>
    {% block javascripts %}
        <script>
            function sendRequest() {
                var button = document.getElementById("sendRequest");
                var req = new XMLHttpRequest();
                req.open('GET', 'http://paul.lpweb-lannion.fr:7780/cart/add/{{ id }}');
                req.addEventListener('load', function () {
                    if(req.status == 200){
                        alert("Le  produit à bien été ajouté au panier");
                        button.disabled = true;
                    } else if (req.status == 404) {
                        alert("NOK");
                    }
                });
                req.send();
            }
        </script>
    {% endblock %}  
</div>
{% endblock %}
